{% extends 'base.html' %}
{% block maincontent %}
<!Doctype html>


	<div class ="container">
	<div class="col-12 ">

	<h3 style="color:#ff00ff;"><div class="text-align-center"><b>ABOUT GRWPT</h3></div></b>
      Government Residence Women Polytechnic, Manerajuri Road, Tasgaon, Dist- Sangli (Maharashtra) is estabilished in the year 2009-2010. Government of Maharashtra has decided to empower women by giving them technical education thereby enhancing their technical knowledge and skills.</br></br>

 

   It is unique institute in Pune Region for women having residencial facilities along with modern and well equiped academic complex. The aim is to provide apportunities to women in all areas of Maharashtra to develope themselves in all respect of technical field like Mechanical Engineering, Civil Engineering, Electrical Eengineering, Electronics and Telecommunication, Computer Engineering, Information Technology and Dress Designing & Garment Manufacturing.</br></br>

 

   The institute is approved by All India council for Technical Education (AICTE), affiliated to Maharashtra State Board of Technical Education (MSBTE) and run by Directorate of Technical Education (DTE) of Government of Maharashtra.</br>
	</br></div>
</div>
{% endblock %}
