
{% extends 'base.html' %}
{% block maincontent %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
			<div class="background-image: linear-gradient(red, yellow)";><h3 style="color:#0000ff";><b>HOME PAGE</b></h3></div>
			
<dic class="background-color: lightblue">
Presently the institute is running Seven diploma courses in engineering suitable for women i.e. Electronics &Tele-communication, Computer Engineering, Information Technology, Electrical Engineering, Mechanical Engineering, Civil Engineering and Dress Designing and Garment Manufacturing with 60 intake capacity each.</p>
It is unique institute in Pune Region for women having residencial facilities along with modern and well equiped academic complex. The aim is to provide apportunities to women in all areas of Maharashtra to develope themselves in all respect of technical field like Electronics and Telecommunication, Electrical Engineering Computer Engineering, Information Technology, Mechanical Engineering, Civil Engineering and Dress Designing & Garment Manufacturing.</p>
    
  </div>
</div>
		</div>
	</div>
</div>
	

{% endblock %}
